.DS_Store

/download
/eclipseBin

# gradle
**/.gradle/
**/build
!**/build.gradle

# ForgeGradle
**/run/

# eclipse
/eclipse
/.settings
/.metdata
/.classpath
/.project
/bin

# intellij
/classes
/.idea
/*.iml
/*.ipr
/*.iws
